{% extends "base.html" %}
{% load bulma_tags %}

{% block content %}
<div class='container'>
    <h1 class='title is-2'>Logowanie</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form | bulma }}
        <!-- <div class='field'>
            <div class='label'>Nazwa użytkownika</div>
            <div class='control'>
                {{ form.username }}
            </div>
        </div>
        <div class='field'>
            <div class='label'>Hasło</div>
            <div class='control'>
                {{ form.password }}
            </div>
        </div> -->
        <input type="submit" value="Zaloguj się" class="button is-success">
    </form>
</div>
{% endblock %}
