{% extends "base.html" %}

{% block content %}
<section class="hero is-info is-small block">
    <div class="hero-body">
        <p class="title is-4">
            Konto
        </p>
        <p class="subtitle is-6">
            {% if user.is_staff %}   
                Dodaj/edytuj stworzone kursy
            {% else %}
                Zmień styl uczenia się / przejrzyj listę twoich kursów
            {% endif %}
        </p>
    </div>
</section>
<div class='columns'>
    {% if user.is_staff %}
    <div class='column is-narrow' style='position: sticky;'>
        <div class='box'>
            <a class='button is-large is-link' href="{% url 'courses:course_add' %}">Dodaj kurs</a>
        </div>
    </div>
    {% else %}
    <div class='column is-narrow'>
        <div class="box">
            <h1>Styl uczenia się:</h1>
            <h1 class="is-size-4"><strong>{{user.profile.get_learning_type_display}}</strong></h1>
        </div>
        <a class="button" href="{% url 'accounts:questionnairy' %}">Zmień rodzaj uczenia</a>
    </div>
    {% endif %}
    <div class='column'>
        {% include 'courses/__courses.html' %}
    </div>
</div>
{% endblock %}
