html, body{
    min-height : 100vh;
}
body{
    color : black;
    box-sizing: border-box;
    margin : 0px;
    display : flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    background : hsl(0, 0%, 96%);
}
.main-column{
    display : flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background : hsl(0, 0%, 96%);
    /* position : absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    height : auto;
    margin : 5px; */
}

.words{
    margin-left: 10px;
}

.slider{
    overflow: hidden;
    width: auto;
    height: auto;
    /* margin: -20px;
    margin-top: -40px; */
}

.slides{
    width: 500%;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.navigation-manual{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
}

.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #40D3DC;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

.navigation-auto{
    position: absolute;
    display: none;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: blue;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: blue;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: blue;
}

img{
    width: 100%;
    height: 500px;
}