{% extends 'base.html' %}
{% block content %}
<section class="hero is-success is-flex-grow-1">
    <div class="words">
        <p class="title">
            Witaj na stronie
        </p>
        <p class="subtitle">
            Zapisz się na wybrany kurs
        </p>
    </div>
    <div class='hero-body has-text-centered'>

        <div class="slider">

            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
            </div>
                       
            <div class="slides">
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">

                <div class="slide first">
                    <img src="static/pics/1.jpg" alt="zdjęcie1" >
                </div>
                <div class="slide">
                    <img src="static/pics/2.jpg" alt="zdjęcie2" >
                </div>
                <div class="slide">
                    <img src="static/pics/3.jpg" alt="zdjęcie3" >
                </div>               

                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}

