{% if courses %}
{% for kurs in courses %}
    <div class='card block' hx-target='this'>
        <div class='card-header'>
            <p class="card-header-title title is-4">
                {{ kurs.name }}
            </p>
        </div>
        <div class="card-content">
            <p class="title is-5">{{ kurs.desc }}</p>
            <p class="subtitle">{{ kurs.author }}</p>
        </div>
        <footer class="card-footer">
            {% if user == kurs.author %}
                <a class="card-footer-item" href="{% url 'courses:course_edit' course_slug=kurs.slug %}">Edytuj kurs</a>
                <a class="card-footer-item" hx-swap='outerHTML' hx-confirm="Czy napewno chcesz usunąć kurs?" 
                    hx-delete="{% url 'courses:course_delete' course_slug=kurs.slug %}" href="#">
                    Usuń kurs
                </a>
            {% else %}
                <a class="card-footer-item" href="{% url 'courses:course_view' course_slug=kurs.slug %}">Zobacz kurs</a>
                {% if not user.is_staff %}
                    {% if kurs not in user.profile.courses.all %}
                    <a href='#' class="card-footer-item" hx-target='this' hx-swap='outerHTML' hx-get="{% url 'accounts:course_signup' course_slug=kurs.slug %}">
                        Zapisz się na kurs
                    </a>
                    {% endif %} 
                {% endif %}
            {% endif %}
        </footer>
    </div>
{% endfor %} 
{% else %}
    <h3 class='box title is-2 has-text-centered'>Brak kursów</h3>
{% endif %}