<div class="card block scale-y y-1" _="on del toggle .y-0 .y-1 then settle then remove me" hx-target='this'>
<!-- <div class="card block scale-y-0" _='on load toggle .y-1 on me then settle then remove .y-1 add .scale-y-1
on htmx:afterOnLoad toggle .y-0 on me then settle then remove me' 
hx-target='this'> -->
    <header class="card-header has-background-info">
        <p class="card-header-title">
            {{ lesson.name }}<i>: {{ lesson.get_node_type_display }}</i>
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            {{ lesson.desc }}
        </div>
    </div>
    {% if user.is_authenticated %}
    <footer class="card-footer">
        {% if user.is_staff %}
            <a href='{% url "courses:node_view" lesson.pk %}' class="card-footer-item"><i class="fas fa-arrow-right"></i></a>
            {% if user == lesson.course.author %}
                <a href='{% url "courses:node_edit" lesson.pk %}' class="card-footer-item"><i class="fas fa-edit"></i></a>
                <!-- <a href='{% url "courses:node_delete" lesson.pk %}' class="card-footer-item"><i class="fas fa-minus-square"></i></a> -->
                <button hx-confirm="Czy napweno chcesz usunąć lekcję?" hx-swap='none' 
                        hx-delete='{% url "courses:node_delete" lesson.pk %}' class='button is-danger'><i class="fas fa-minus-square"></i></button>
            {% endif %}
        {% elif lesson.course in user.profile.courses.all %}
            {% if lesson.node_number == 0 or lesson.get_prev in user.profile.nodes_passed.all %}
            <a href='{% url "courses:node_view" lesson.pk %}' class="card-footer-item"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        {% endif %}
    </footer>
    {% endif %}
</div>
