<div class="card block {{class}}" hx-target='this' _="{{script}}">
    <header class="card-header has-background-primary">
        <p class="card-header-title">
            {{ q.text }}
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            {% for ans in q.answers.all %}
            <p><i>{{ans.text}}</i></p>
            {% endfor %}
        </div>
    </div>
    <footer class="card-footer">
        <!-- <a href="#" _='on click set display to none on me then set display to block on closest .card' 
        class="card-footer-item"><i class="fas fa-edit"></i></a> -->
        <a href="#" hx-swap='outerHTML' hx-get="{% url 'courses:question_update' q.pk %}" class="card-footer-item"><i class="fas fa-edit"></i></a>
        <a href='#' hx-confirm='Czy napewno chcesz usunąć pytanie?' hx-swap='outerHTML'
            hx-delete='{% url "courses:question_delete" q.pk %}' class="card-footer-item"><i class="fas fa-minus-square"></i></a>
    </footer>
</div>
   
