{% extends 'base.html' %}
{% block content %}
<div class='container'>
    <div class='columns is-vcentered'>
        <div class='column is-half'>
            <div class='box'>
                <section class='section'>
                    <p class='title is-3'>Wynik testu</p>
                    <p class='subtitle'>
                        {% if passed %}
                        Gratulacje, zaliczyłeś test!
                        {% else %}
                        Nie udało się!
                        {% endif %}
                    </p>
                </section>
            </div>
        </div>
        <div class='column'>
            <div class='box'>
                <a class='button box' href='{% url "courses:node_view" lesson.pk %}'>
                    Rozwiąż test ponownie
                </a>
                <a class='button box' href='{% url "courses:course_view" lesson.course.slug %}'>
                    Wróć do kursu
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}