{% extends "base.html" %}
{% load bulma_tags %}

{% block content %}
<section class="hero is-info is-small block">
    <div class="hero-body">
        <p class="title is-4">
            {{course.name}}
        </p>
        <p class="subtitle is-5">
            Przeglądaj kurs
        </p>
    </div>
</section>
<div class='columns'>
    <div class='column'>
        <div class='box container'>
            <div class='hero block is-small is-info'>
                <div class='hero-body'>
                    <p class="title is-4">
                        Lista lekcji
                    </p>
                </div>
            </div>
            <!-- <p class='title is-2 has-text-centered'>Lista lekcji</p> -->
            <div id='lesson-list'>
                {% if lessons %}
                    {% for lesson in lessons %}
                        {% include 'courses/__lesson.html' %}
                    {% endfor %}
                {% else %}
                    <h1 class='box title is 2 has-text-centered'>Brak lekcji</h1>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
