{% extends "base.html" %}
{% load bulma_tags %}

{% block content %}
<section class="hero is-info is-small block">
    <div class="hero-body">
        <p class="title is-4">
            {{course.name}}
        </p>
        <p class="subtitle is-6">
            {% if user.is_staff %}
                Edytuj kurs
            {% else %}
                Przejrzyj wybrany kurs
            {% endif %}
        </p>
    </div>
</section>
<div class='columns'>
    <div class='column'>
        <div style='position:sticky; top:5%;'>
            <form class='box' method="POST" hx-swap='none' hx-post="{% url 'courses:course_edit' course.slug %}" >
                {% csrf_token %}
                {{ form|bulma }}
                <input class='button is-success' type="submit" value="Zapisz zmiany">
            </form>
            <div class='is-pulled-right box'>
                <a href='{% url "courses:node_add" course_slug=course.slug %}' class='button is-success'>Dodaj lekcję</a>
                {% if course.node_count > 0 %}
                <button id='delete-lesson' hx-target='#lesson-list' hx-confirm="Czy napweno chcesz usunąć lekcję?" 
                hx-delete='{% url "courses:node_delete" node_pk=course.get_last_node %}' class='button is-danger'>Usuń ostatnią lekcję</button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class='column'>
        <div class='box'>
            <div class='hero block is-small is-info'>
                <div class='hero-body'>
                    <p class="title is-4">
                        Lista lekcji
                    </p>
                </div>
            </div>
            <!-- <p class='title is-2 has-text-centered'>Lista lekcji</p> -->
            <div id='lesson-list'>
                {% include 'courses/__lesson_list.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
