{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- <section class="section">
    <h1 class="title">Lista kursów</h1>
    <h2 class="subtitle">
        Przejrzyj dostępne kursy
    </h2>
  </section> -->

<section class="hero is-info is-small block">
    <div class="hero-body">
      <p class="title is-4">
        Lista kursów
      </p>
      <p class="subtitle is-6">
        Przejrzyj dostępne kursy
      </p>
    </div>
</section>

<div class='columns'>
    <div class='column'>
        <div class='box' id='course-list'>
            {% include 'courses/__courses.html' %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src='{% static "js/course-list.js" %}'></script>
{% endblock %}
 