{% extends "base.html" %}

{% block content %}
<section class="hero is-info is-small block">
    <div class="hero-body">
        {% if user.is_staff %}
        <p class="title is-4">
            Edytuj kurs
        </p>
        <p class="subtitle is-6">
            Edytuj wybrany kurs
        </p>
        {% else %}
        <p class="title is-4">
            Przejrzyj wybrany kurs
        </p>
        {% endif %}
    </div>
</section>
<div class='columns'>
    <div class='column'>
        <form class='box' method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class='field'>
                <label class='label'>{{ field.label_tag }}</label>
                <div class='control'>
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <input class='button' type="submit" value="Zapisz zmiany">
        </form>
    </div>
    <div class='column'>
        <div class='box'>
            <div class='block'>
                <span class='title is-2 has-text-centered'>Lista lekcji</span>
                <a href='{% url "courses:node_add" course_slug=course.slug %}' class='button is-pulled-right'>Dodaj lekcję</a>
                <a href='{% url "courses:node_delete" node_pk=course.get_last_node.pk %}' class='button is-pulled-right'>Usuń ostatnią lekcję</a>
                <!-- <a href='#' class='button block'><strong>Zmień kolejność lekcji</strong></a> -->
            </div>
            {% if lessons %}
            {% for lesson in lessons %}
                {% include 'courses/__lesson.html' %}
            {% endfor %}
            {% else %}
                <h1 class='title is 2 has-text-centered'>Brak lekcji</h1>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
