{% extends "base.html" %}
{% load static %}

{% block content %}
<div class='columns is-vcentered'>
    <div class='column'>
        <section class="hero is-info is-small block">
            <div class="hero-body is-relative">
                <p class="title">
                    Edytuj lekcję : {{ lesson.name }}
                </p>
                <p class="subtitle">
                    Dodawaj pliki do wybranych rodzajów nauczania
                </p>
            </div>
        </section>
    </div>
    <div class='column is-narrow'>
        <a class='button' href='{% url "courses:node_view" lesson.pk %}'>Widok Studenta</a>
    </div>
</div>
        <div class='columns'>
            <div class='column is-one-fifth'>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in node_form %}
                <div class='field'>
                    <label class='label'>{{ field.label_tag }}</label>
                    <div class='control'>
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
                <input class='button' type="submit" value="Zapisz zmiany">
            </div>
            </form>
            <div class='column'>
                <form enctype="multipart/form-data" method='POST' action='{% url "courses:file_add" lesson.pk %}'>
                {{ files_form.management_form }}
                <div class='columns'>
                    {% for form in files_form %}
                    <div class='column'>
                        <div class='box'>
                            <h1 class='title is-3'>{{ form.lesson_type.value }}</h1>
                        </div>
                        <div class='field'>
                            {{ form }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                </form>
            </div>
        </div>
   

    <div class='columns'>
        <div class='column is-one-fifth'></div>
        {% for files in grouped_files %}
        <div class='column'>
            {% for file in files %}
                {% include 'courses/__file.html' %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.8.1/min/dropzone.min.js"></script>
<script src="{% static 'js/lesson-edit.js' %}"></script>
{% endblock %}