{% extends "base.html" %}
{% load static %}
{% load bulma_tags %}

{% block content %}
<section class="hero is-info is-small block">
    <div class="hero-body is-flex">
        <nav class='navbar'>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{% url 'courses:course_edit' lesson.course.slug %}">
                        <strong>Kurs</strong>
                    </a>
                </div>
            </div>
        </nav>
        <div class='container has-text-centered'>
            <p class="title is-4">
                Lekcja : {{ lesson.name }}
            </p>
            <p class="subtitle is-6">
                Przejrzyj dostępne materiały
            </p>
        </div>
        {% if user.is_staff %}
        <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                    <a class="navbar-item" href="{% url 'courses:node_view' lesson.pk %}">
                        Widok Studenta
                    </a>
                    <a class="navbar-item is-active">
                        Widok Nauczyciela
                    </a>
                    </div>
                </div>
            </div>
        </nav>
        {% endif %}
    </div>
</section>

<div class='columns'>
    <div class='column'>
        <div class='box'>
            <form class='block' method="POST" hx-swap='none' hx-post="{% url 'courses:node_edit' lesson.pk %}">
                {% csrf_token %}
                {{ node_form|bulma }}
                <!-- {% for field in node_form %}
                <div class='field'>
                    <label class='label'>{{ field.label_tag }}</label>
                    <div class='control'>
                        {{ field }}
                    </div>
                </div>
                {% endfor %} -->
                <input class='button is-success' type="submit" value="Zapisz zmiany">
            </form>
            <div id='messages' class='is-flex block'></div>
        </div>
    </div>
    <div class='column'>
        <form id='file-form' class='box' hx-encoding="multipart/form-data" hx-swap='beforeend' hx-target='#file-list' hx-post='{% url "courses:file_add" lesson.pk %}'>
            {% csrf_token %}
            <div class='field'>
                <div class='control'>
                    {{ files_form.lesson_type }}
                </div>
            </div>
            <div id='file-field' class="file has-name is-fullwidth is-info block">
                <label class="file-label">
                  {{ files_form.lesson_file }}
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Wybierz plik
                    </span>
                  </span>
                  <span class="file-name">
                    Plik
                  </span>
                </label>
            </div>
            <script>
                const fileInput = document.querySelector('#file-field input[type=file]');
                fileInput.onchange = () => {
                    if (fileInput.files.length > 0) {
                    const fileName = document.querySelector('#file-field .file-name');
                    fileName.textContent = fileInput.files[0].name;
                    }
                }
            </script>
            <input class='button is-success' type="submit" value="Zapisz plik">
        </form>
        <div class='box' id='file-list'>
            {% include 'courses/__edit_file_list.html' %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.8.1/min/dropzone.min.js"></script> -->
<script src="{% static 'js/lesson-edit.js' %}"></script>
{% endblock %}