{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="hero is-info is-small block">
        <div class="hero-body">
            <p class="title">
                Przeglądaj lekcję : {{ lesson.name }}
            </p>
            <p class="subtitle">
                Przejrzyj dostępne materiały
            </p>
        </div>
    </section>
    <div class='columns is-flex-grow-1'>
        <div class='column'>
            <object class='box' id='media-player' style='width:100%; height:100%;'></object>
        </div>
        <div class='column is-narrow'>
            <div class='box'>
                    <h2 class='title is-2'>Zaliczone</h2>
                    <input type='checkbox' class='is-large'>
            </div>
            {% for file in files %}
            <article class="media box">
                <div class="media-content">
                    <div class="content">
                        <p style='word-wrap: break-word;'>
                        <strong>{{ file.get_name }}</strong>
                        </p>
                    </div>
                    <button class='button' data-file-url="{{ file.get_absolute_url }}" onclick='set_file(event)'>Zobacz</button>
                    <!-- <nav class="level">
                        <div class="level-right">
                        <span class="icon is-medium"><i class="fas fa-arrow-right"></i></span>
                    </nav> -->
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src='{% static "js/lesson-view.js" %}'></script>
{% endblock %}
