{% extends "base.html" %}
{% load static %}
{% load bulma_tags %}

{% block content %}
<section class="hero is-info is-small block">
    <div class="hero-body is-flex">
        <nav class='navbar'>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{% url 'courses:course_edit' lesson.course.slug %}">
                        <strong>Kurs</strong>
                    </a>
                </div>
            </div>
        </nav>
        <div class='container has-text-centered'>
            <p class="title">
                Test : {{ lesson.name }}
            </p>
            <p class="subtitle">
                Dodaj/edytuj pytania
            </p>
        </div>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item" href="{% url 'courses:node_view' lesson.pk %}">
                            Widok Studenta
                        </a>
                        <a class="navbar-item is-active">
                            Widok Nauczyciela
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>

    <div class='columns'>
        <div class='column'>
            <div class='box'>
                <section class='hero is-info is-small block'>
                    <div class='hero-body'>
                        <p class='title'>
                            Lista pytań
                        </p>
                    </div>
                </section>
                <p id='no-q' class='title is-4 has-text-centered'>
                    Brak pytań
                </p>
                <div id='question-list' _="on load or mutation if no me.children
                show #no-q
                else
                hide #no-q
                end">
                    {% if questions %}
                        {% for q in questions %}
                            {% include 'courses/__question.html' %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class='column'>
            <div style='position:sticky; top:2%;' class='box'>
                <div class='block'>
                    <button onclick="add_question()" class='button is-info'>Dodaj nowe pole</button>
                    <button onclick="remove_question()" class='button is-info'>Usuń ostatnie pole</button>
                </div>
                <form id='question-form' _='on submit go to the bottom of the body smoothly' hx-swap='beforeend' hx-target="#question-list" hx-post="{% url 'courses:question_add' lesson.pk %}">
                    {% csrf_token %}
                    <input class='button is-success block' type='submit' value="Zapisz pytanie">
                    {{ q_form|bulma }}
                    {{ answers_form.management_form }}
                    {% for form in answers_form %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}   
                        <div class='field is-grouped'>
                            <div class='control'>
                                {{ form.correct }}
                            </div>
                            <div class='control is-expanded'>
                                {{ form.text }}
                            </div>
                        </div>
                    {% endfor %}
                </form>
                <div id='empty-form' style='display : none'>
                    <div class='field is-grouped'>
                        <!-- <label class="label is-small">Odpowiedź {{forloop.counter}}</label> -->
                        <div class='control'>
                            {{ answers_form.empty_form.correct }}
                        </div>
                        <div class='control is-expanded'>
                            {{ answers_form.empty_form.text }}
                        </div>
                    </div>
                    <!-- {{ answers_form.empty_form|bulma }} -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/test-edit.js' %}"></script>
{% endblock %}