{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="hero is-info is-small block">
    <div class="hero-body">
        <p class="title">
            Test : {{ lesson.name }}
        </p>
        <p class="subtitle">
            Dodaj/edytuj pytania
        </p>
    </div>
</section>
    <div class='columns'>
        <div id='question-list' class='column is-one-fifth'>
            <div class='box'>
                <h2 class='title is-2'>
                    Lista pytań
                </h2>
                {% if questions %}
                    {% for q in questions %}
                        {% include 'courses/__question.html' %}
                    {% endfor %}
                {% else %}
                    <div class='box'>
                        Brak pytań
                    </div>
                {% endif %}
            </div>
        </div>
        <div class='column tabs-wrapper'>
            <div class='tabs'>
                <ul>
                    <li class="is-active">
                        <a>Dodaj pytanie</a>
                    </li>
                    <li>
                        <a>Edytuj pytanie</a>
                    </li>
                </ul>
            </div>
            <div class='tabs-content'>
                <ul>
                    <li class='is-active'>
                        <div class='block'>
                            <button onclick="add_question()" class='button'>Dodaj nowe pole</button>
                            <button onclick="remove_question()" class='button'>Usuń ostatnie pole</button>
                            <button onclick="submit_form()" class='button'>Zapisz pytanie</button>
                        </div>
                        <form class='box' id='question-form' method="POST" action="{% url 'courses:question_add' lesson.pk %}">
                            {% csrf_token %}
                                <input type='hidden' id='question-count' name='question-count'>
                                <div class='field'>
                                    <label class="label">Treść pytania</label>
                                    <div class='control'>
                                        <input class='input' id='question-content' name='question-content' type='text' required>
                                    </div>
                                </div>
                                <div class='field'>
                                    <label class="label is-small">Odpowiedź 1</label>
                                    <div class='control'>
                                        <input type="radio" id="radio-1" name="answer" value=0 checked>
                                        <input class='input' id='question-1' name='question-1' type='text' required>
                                    </div>
                                </div>
                                <div class='field'>
                                    <label class="label is-small">Odpowiedź 2</label>
                                    <div class='control'>
                                        <input type="radio" id="radio-2" name="answer" value=1>
                                        <input class='input' id='question-2' name='question-2' type='text' required>
                                    </div>
                                </div>
                        </form>
                    </li>
                    <li style='display : none'>
                        <h1 class='title is-1'>Dupa</h1>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/test-edit.js' %}"></script>
{% endblock %}