{% extends "base.html" %}

{% block content %}
<section class="hero is-info is-small block">
    <div class="hero-body">
        <p class="title">
            Test : {{ lesson.name }}
        </p>
        <p class="subtitle">
            Odpowiedz na pytania
        </p>
    </div>
</section>
<div class='container'>
    <form id='test' class='box' method='POST'>
        {% csrf_token %}
        {{ q_forms.management_form }}
        {% for form in q_forms %}
            <div class='box'>
            {{form}}
            </div>
            <!-- {% for field in form %}
            <div class='field'>
                {{field.label_tag}}
                {{field}}
            </div>
            {% endfor %} -->
        {% endfor %}
        <input class='button' type="submit" value="Sprawdź wyniki">
    </form>
</div>
{% endblock %}
